body{
    width: 1000px;
    height: 1000px;
    background-image: url("https://cdn.pixabay.com/photo/2022/10/18/17/56/bird-7530845_960_720.jpg"); 
}

a{
    text-decoration: none;
    padding-left: 20px ;
}


a:first-child:hover{
    color: yellowgreen;
}

a:last-child:hover{
  color: aquamarine;
}


footer{
    font-size: 15px;
    width: 100%;
    height: 100%;
    }

footer p{
color: white;
text-align: center;
}

table{
    text-align:  center;
}
